#################
## openFrameworks
#################
[Bb]in/*
![Bb]in/data/
[Bb]uild/
[Oo]bj/
[Oo]bj/Debug/
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
*.log
#################
## Code::Blocks
#################
*.depend
*.layout
*.o
obj/
bin/
#################
##PhpStorm
#################
.idea/
##############
##Разработка
##############
design/
*.jpg
*.jpeg
*.gif
*.png
.fuse*
############
## Sublime Text
############
*.json
############
## Windows VS
############
Web.config
*.publishproj
App_data/
*.sln
*.suo
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
.directory